<tr>
  <td>
    <!-- <%= product.name %> -->
    
    <%= link_to users_product_path(product.id) do %>
      <%= product.name %>
    <% end %>
     
  </td>
  <td><%= product.author %></td>
  <td style="text-align: right;"><%= product.price %> 円</td>
  <td style="text-align: right;"><%= stock_label(product) %></td>
</tr>
