<% if flash[:notice] || flash[:alert] %>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
<% end %>

<h1>書籍一覧(管理者用)</h1>
<p>
<%= link_to "書籍新規登録", new_admin_product_path %> 
<%= link_to 'ログアウト', destroy_public_users_user_session_path, data: { turbo_method: :delete } %>
</p>

<table border="1">
    <thead>
        <th>書籍名</th>
        <th>説明</th>
        <th>価格</th>
        <th>在庫数</th>
        <th>公開情報</th>
    </thead>
    <tbody>
        <% @products.each do |product| %>
        <tr>
            <td>
                <%= link_to admin_product_path(product.id) do %>
                    <%= product.name %>
                <% end %>
            </td>
            <td><%= product.description %></td>
            <td style="text-align: right;"><%= product.price %> 円</td>
            <td style="text-align: right;"><%= stock_label(product) %></td>
            <td style="text-align: center;"><%= publication_status(product) %></td>
        </tr>
        <% end %>
    </tbody>
</table>
