<h1>書籍新規投稿画面(管理者用)</h1>

<%= form_with(model: @product, url: admin_products_path, scope: :product, data: { turbo: false }) do |f| %>
  <%= render "layouts/error_messages", model: f.object %>

  <b>書籍名</b><br>
  <%= f.text_field :name %>
  <br>

  <b>著者</b><br>
  <%= f.text_field :author %>
  <br>

  <b>価格</b><br>
  <%= f.text_field :price %>
  <br>

  <b>在庫数</b><br>
  <%= f.text_field :stock %>
  <br>

  <b>紹介文</b><br>
  <%= f.text_area :description, rows: 4 %>
  <br>

  <b>公開設定</b><br>
  <%= f.label :active do %>
      <%= f.check_box :active %> 公開する
  <% end %>
  <br>

  <%= f.submit "登録" %>
<% end %>
